*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*css FullScreen*/

html, body {
    height: 100%;
	font-family: 'Roboto', sans-serif;
}
.container {
	max-width: 1595px;
    margin: 0 auto;
}
.wrapper {
    overflow: hidden;
    min-height: 100%;
}
.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;   
}
.main-screen {	
	position: relative;
    -webkit-box-flex: 1;	
    -ms-flex: 1 0 100%;	
    flex: 1 0 100%;
}

/*Header*/

.header__line {
	position: absolute;
	left: 0;
	top: 47px;
	z-index: 100;
	background-color: #9977db;
	height: 3px;
	width: calc((100vw - 1595px) / 2 - 30px);

}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
	height: 100px;
}
.header:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff; 
	z-index: 30;
}
@media (max-width: 768px){
	.header {
		height: 50px;
	}
}
.header__container {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.header__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	position: relative;
}
@media (max-width: 1600px){
	.header__body {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.header__nav {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 70%;
	position: relative;
}
.header__logo {
	position: relative;
	z-index: 50;
}
.header__logo a {
	color: #390992;
	font-size: 40px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
}
.header__logo a span {
	font-weight: 700;
}
.header__menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}
.header__menu li {
	list-style: none;
	position: relative;
	z-index: 50;
}
.header__menu li a {
	font-size: 22px;
	font-weight: 500;
	text-decoration: none;
	color: #525176;	
}
.header__menu li a:hover {
	color: #7c3bd1;
}

@media (max-width: 767px) {
/*убирает прокрутку контента при раскрытом меню*/
    body.lock {
        overflow: hidden;
    }
.header__menu {
	position: fixed;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	padding: 70px 0 0 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;	
}
.header__menu.active {
	top: 0;
	-webkit-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
	padding-bottom: 100px;
}
.header__menu li {
	padding: 0 30px;
}
}

/*Burger icon*/ 

.burger-menu__burger {
	width: 40px;
	height: 25px;
	margin: auto 0;
	cursor: pointer;
	position: relative;
	z-index: 50;
	display: none;
}
@media (max-width: 768px){
	.burger-menu__burger {
		display: block;
	}
}
.burger-menu__line {
	display: block;
	height: 5px;
	background-color: #535176;
	border-radius: 2px;
	position: absolute;
	right: 0;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}  
.burger-menu__line_1 {
	width: 100%;
	top: 0;
}
.burger-menu__line_2, .burger-menu__line_3 {
	width: 100%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.burger-menu__line_4{
	width: 100%;
	bottom: 0;
}
.burger-menu__burger.active .burger-menu__line_1,
.burger-menu__burger.active .burger-menu__line_4 {
	opacity: 0;
}
.burger-menu__burger.active .burger-menu__line_2 {
	-webkit-transform: translateY(-50%) rotate(45deg);
	transform: translateY(-50%) rotate(45deg);
}
.burger-menu__burger.active .burger-menu__line_3 {
	-webkit-transform: translateY(-50%) rotate(-45deg);
	transform: translateY(-50%) rotate(-45deg);
}

/*Main content*/

.main-screen__bg {
	margin-top: 100px;
	height: calc(100vh - 100px);
	background-image: url(images/bg.png);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}
@media (max-width: 768px){
	.main-screen__bg {
		height: calc(100vh - 50px);
		margin-top: 50px;
	}
}
.main-screen__content {
	padding-top: 5vh;
}
@media (max-width: 1600px){
	.main-screen__content {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 3vh;
	}
}
@media (max-width: 768px){
	.main-screen__content {
		padding-top: 0;
	}
}
.main-screen__title {
    font-size: calc(70px + 150 * (100vw / 1920));
	font-weight: 900;
    text-transform: uppercase;
    color: #e4daf5;
	position: relative;
	z-index: -5;
}
@media (max-width: 768px){
	.main-screen__title {
		font-size: calc(70px + (16 + 16 * .7) * ((100vw - 320px) / 1920));
		margin-bottom: 10px;
	}
}
.main-screen__text {
	max-width: 650px;
	font-weight: 400;
	font-size: calc(18px + 4 * (100vw / 1920));
    color: #535274;
	margin-bottom: 50px;
}
@media (max-width: 1595px){
	.main-screen__text {
		max-width: 55%;
	}
}
@media (max-width: 1024px){
	.main-screen__text {
		max-width: 55%;
	}
}
@media (max-width: 768px){
	.main-screen__text {
		font-size: calc(18px + (4 + 4 * .7) * ((100vw - 320px) / 1920));
		margin-bottom: 20px;
	}
}
.main-screen__btns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
@media (max-width: 768px){
	.main-screen__btns {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		max-width: 80%;
	}
}
.main-screen__btn {
    font-size: 22px;
	font-weight: 500;
	border: solid 2px #7c3bd1;
    border-radius: 100px;
	padding: 10px 40px;
	margin-right: 30px;
	margin-bottom: 30px;
}
.main-screen__btn:last-child {
	margin-right: 0;
}
@media (max-width: 768px){
	.main-screen__btn {
		margin-right: 15px;
		margin-bottom: 15px;
	}
}
.main-screen__btn a {
	text-decoration: none;
}
.main-screen__btn_1 {
	background-color: #7c3bd1;
}
.main-screen__btn_1:hover {
	background-color: #e4daf5;
	cursor: pointer;
	-webkit-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
}
.main-screen__btn_1:hover > a {
	color: #7c3bd1;
	-webkit-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
}
.main-screen__btn_1 a {
	color: #fff;
}
.main-screen__btn_2 {
	background-color: #fff;
}
.main-screen__btn_2:hover {
	background-color: #e4daf5;
	cursor: pointer;
	-webkit-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
}
.main-screen__btn_2:hover > a {
	color: #7c3bd1;
	-webkit-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
}
.main-screen__btn_2 a {
	color: #7c3bd1;
}

/*FOOTER*/

.footer__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 5% 15px 3%;
/*	background-color: coral;*/
}
@media (max-width: 768px){
	.now {
		margin-top: -30px;
	}
	.footer__body.active {
		background-color: #7c3bd1;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
	}
}
.footer__social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
/*	background-color: orange;*/
}
.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
.footer__icon i {
	font-size: 40px;
	color: #fff;
	margin-right: 30px;
}
.footer__icon i:hover {
	color: #e4daf5;
}
@media (max-width: 768px){
	.footer__icon i {
		font-size: 30px;
		margin-right: 15px;
	}
}

/*Дата*/

.now {
	line-height: .9;
	font-weight: 500;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
	margin-right: 16vw;
/*	background-color: yellow;*/
}
@media (max-width: 1024px){
	.now {
		margin-right: 0;
			padding-top: 20px;
	}
}
#date {
    font-size: 55px;
    }
@media (max-width: 768px){
	#date {
		font-size: 40px;
	}
}
#mounth {
    font-size: 38px;
   
}
@media (max-width: 768px){
	#mounth {
		font-size: 30px;
	}
}

/*Arrow*/

.main-screen__arrows {
	position: fixed;
	right: 5%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.main-screen__arrow {
	margin-bottom: 15px;
	width: 30px;
	height: 30px;
}
.main-screen__arrow:hover {
	cursor: pointer;
}
.main-screen__arrow:last-child {
	margin-bottom: 0;
}





















