@font-face {
	font-family: "roboto_bold";
	src: url("fonts/roboto_bold.woff"),
    url("fonts/roboto_bold.ttf");
}
@font-face {
	font-family: "roboto_medium";
	src: url("fonts/roboto_medium.woff"),
    url("fonts/roboto_medium.ttf");
}

@font-face {
	font-family: "roboto_black";
	src: url("fonts/roboto_black.woff"),
    url("fonts/roboto_black.ttf");
}
@font-face {
	font-family: "roboto_regular";
	src: url("fonts/roboto_regular.woff"),
    url("fonts/roboto_regular.ttf");
}
@font-face {
	font-family: "roboto_regular";
	src: url("fonts/roboto_regular.woff"),
    url("fonts/roboto_regular.ttf");
}